In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv('county_df.csv')

In [3]:
raw_df

    ballots_cast  ballots_rejected  percent_rejected
0         135532               911          0.672166
1         476971              5991          1.256051
2         253356              1911          0.754275
3         246597               705          0.285892
4          56585               368          0.650349
5          60052               761          1.267235
6         307647              2185          0.710230
7         171097               100          0.058446
8         224391              5607          2.498763
9          84278               621          0.736847
10        170059              1308          0.769145
11        356444              6844          1.920077
12        377276              5407          1.433168
13        293241              1122          0.382620
14        338770                 0          0.000000
15        210864              1798          0.852682
16         33016               572          1.732493
17        183276              2373          1.294769
18         87345               993          1.136871
19        243612              6286          2.580333
20         60069               970          1.614810